frameircore/.externalToolBuilders/
frameircore/.gitignore
frameircore/.project
frameircore/buildcallbacks.xml
frameircore/eclipsebin/
frameircore/extensioninfo.xml
frameircore/hmc/jsp/
frameircore/hmc/resources/com/philos/frameit/hmc/locales_fr.properties
frameircore/hmc/resources/com/philos/frameit/hmc/locales_ja.properties
frameircore/hmc/resources/hmc.xml
frameircore/orderUpdate1370347593260.xml
frameircore/project.properties
frameircore/resources/cmsData/categoryPage.impex
frameircore/resources/cmsData/categoryPageTemplate.impex
frameircore/resources/cmsData/checkoutAddressPage.impex
frameircore/resources/cmsData/checkoutConfirmationPage.impex
frameircore/resources/cmsData/checkoutPageTemplate.impex
frameircore/resources/cmsData/checkoutPaymentPage.impex
frameircore/resources/cmsData/checkoutSummaryPage.impex
frameircore/resources/cmsData/cmscockpit-access-rights.impex
frameircore/resources/cmsData/cmscockpit-users.impex
frameircore/resources/cmsData/components.impex
frameircore/resources/cmsData/homePage.impex
frameircore/resources/cmsData/images/
frameircore/resources/cmsData/loginPage.impex
frameircore/resources/cmsData/loginPageTemplate.impex
frameircore/resources/cmsData/myAccountAddressBookPage.impex
frameircore/resources/cmsData/myAccountPage.impex
frameircore/resources/cmsData/myAccountPageTemplate.impex
frameircore/resources/cmsData/myAccountProfilePage.impex
frameircore/resources/cmsData/noSearchResultsPage.impex
frameircore/resources/cmsData/orderDetailsPage.impex
frameircore/resources/cmsData/orderHistoryPage.impex
frameircore/resources/cmsData/productPage.impex
frameircore/resources/cmsData/productPageTemplate.impex
frameircore/resources/cmsData/searchResultsPage.impex
frameircore/resources/cmsData/searchResultsPageTemplate.impex
frameircore/resources/cmsData/siteSetup.impex
frameircore/resources/cmsData/standardPageTemplate.impex
frameircore/resources/cmsData/wishlistPage.impex
frameircore/resources/cronJobs/
frameircore/resources/discounts/
frameircore/resources/email/
frameircore/resources/essentialData/
frameircore/resources/frameitcore-items.xml
frameircore/resources/frameitcore-spring.xml
frameircore/resources/localization/
frameircore/resources/pictureFrameData/
frameircore/resources/solr/
frameircore/resources/tax/
frameircore/resources/test/
frameircore/resources/userData/
frameircore/resources/vouchers/
frameircore/resources/web-services/
frameircore/resources/workflow/
frameircore/src/com/cdyne/ws/weatherws/ArrayOfForecast.class
frameircore/src/com/cdyne/ws/weatherws/ArrayOfForecast.java
frameircore/src/com/cdyne/ws/weatherws/ArrayOfWeatherDescription.class
frameircore/src/com/cdyne/ws/weatherws/ArrayOfWeatherDescription.java
frameircore/src/com/cdyne/ws/weatherws/Forecast.class
frameircore/src/com/cdyne/ws/weatherws/Forecast.java
frameircore/src/com/cdyne/ws/weatherws/ForecastReturn.class
frameircore/src/com/cdyne/ws/weatherws/ForecastReturn.java
frameircore/src/com/cdyne/ws/weatherws/GetCityForecastByZIP.class
frameircore/src/com/cdyne/ws/weatherws/GetCityForecastByZIPResponse.class
frameircore/src/com/cdyne/ws/weatherws/GetCityWeatherByZIP.class
frameircore/src/com/cdyne/ws/weatherws/GetCityWeatherByZIP.java
frameircore/src/com/cdyne/ws/weatherws/GetCityWeatherByZIPResponse.class
frameircore/src/com/cdyne/ws/weatherws/GetWeatherInformation.class
frameircore/src/com/cdyne/ws/weatherws/GetWeatherInformation.java
frameircore/src/com/cdyne/ws/weatherws/GetWeatherInformationResponse.class
frameircore/src/com/cdyne/ws/weatherws/GetWeatherInformationResponse.java
frameircore/src/com/cdyne/ws/weatherws/ObjectFactory.class
frameircore/src/com/cdyne/ws/weatherws/ObjectFactory.java
frameircore/src/com/cdyne/ws/weatherws/POP.class
frameircore/src/com/cdyne/ws/weatherws/POP.java
frameircore/src/com/cdyne/ws/weatherws/Temp.class
frameircore/src/com/cdyne/ws/weatherws/Temp.java
frameircore/src/com/cdyne/ws/weatherws/Weather.class
frameircore/src/com/cdyne/ws/weatherws/Weather.java
frameircore/src/com/cdyne/ws/weatherws/WeatherDescription.class
frameircore/src/com/cdyne/ws/weatherws/WeatherDescription.java
frameircore/src/com/cdyne/ws/weatherws/WeatherHttpGet.class
frameircore/src/com/cdyne/ws/weatherws/WeatherHttpGet.java
frameircore/src/com/cdyne/ws/weatherws/WeatherHttpPost.class
frameircore/src/com/cdyne/ws/weatherws/WeatherHttpPost.java
frameircore/src/com/cdyne/ws/weatherws/WeatherReturn.class
frameircore/src/com/cdyne/ws/weatherws/WeatherReturn.java
frameircore/src/com/cdyne/ws/weatherws/WeatherSoap.class
frameircore/src/com/cdyne/ws/weatherws/WeatherSoap.java
frameircore/src/com/cdyne/ws/weatherws/package-info.class
frameircore/src/com/cdyne/ws/weatherws/package-info.java
frameircore/src/com/philos/
frameircore/src/net/
frameircore/testsrc/

.externalToolBuilders/HybrisCodeGeneration.launch
.gitignore
.project
buildcallbacks.xml
eclipsebin/hmc/.gitignore
extensioninfo.xml
hmc/jsp/ext/frameitcore/css/dummy.txt
hmc/jsp/ext/frameitcore/images/dummy.txt
hmc/jsp/ext/frameitcore/js/dummy.txt
hmc/resources/com/philos/frameit/hmc/locales_fr.properties
hmc/resources/com/philos/frameit/hmc/locales_ja.properties
hmc/resources/hmc.xml
orderUpdate1370347593260.xml
project.properties
resources/cmsData/categoryPage.impex
resources/cmsData/categoryPageTemplate.impex
resources/cmsData/checkoutAddressPage.impex
resources/cmsData/checkoutConfirmationPage.impex
resources/cmsData/checkoutPageTemplate.impex
resources/cmsData/checkoutPaymentPage.impex
resources/cmsData/checkoutSummaryPage.impex
resources/cmsData/cmscockpit-access-rights.impex
resources/cmsData/cmscockpit-users.impex
resources/cmsData/components.impex
resources/cmsData/homePage.impex
resources/cmsData/images/banner1-200x500.png
resources/cmsData/images/banner1-300x800.png
resources/cmsData/images/cart.png
resources/cmsData/images/cartPagePreviewImage-144x90.png
resources/cmsData/images/categoryPagePreviewImage-144x90.png
resources/cmsData/images/checkoutAddressPagePreviewImage-144x90.png
resources/cmsData/images/checkoutConfirmationPagePreviewImage-144x90.png
resources/cmsData/images/checkoutPaymentPagePreviewImage-144x90.png
resources/cmsData/images/checkoutSummaryPagePreviewImage-144x90.png
resources/cmsData/images/homePagePreviewImage-144x90.png
resources/cmsData/images/loginPagePreviewImage-144x90.png
resources/cmsData/images/myAccountAddressBookPagePreviewImage-144x90.png
resources/cmsData/images/myAccountPagePreviewImage-144x90.png
resources/cmsData/images/myAccountProfilePagePreviewImage-144x90.png
resources/cmsData/images/noSearchResultsPagePreviewImage-144x90.png
resources/cmsData/images/orderDetailsPagePreviewImage-144x90.png
resources/cmsData/images/orderHistoryPagePreviewImage-144x90.png
resources/cmsData/images/productPagePreviewImage-144x90.png
resources/cmsData/images/searchResultsPagePreviewImage-144x90.png
resources/cmsData/images/shopping-basket-32x32.png
resources/cmsData/images/wishlistPagePreviewImage-144x90.png
resources/cmsData/loginPage.impex
resources/cmsData/loginPageTemplate.impex
resources/cmsData/myAccountAddressBookPage.impex
resources/cmsData/myAccountPage.impex
resources/cmsData/myAccountPageTemplate.impex
resources/cmsData/myAccountProfilePage.impex
resources/cmsData/noSearchResultsPage.impex
resources/cmsData/orderDetailsPage.impex
resources/cmsData/orderHistoryPage.impex
resources/cmsData/productPage.impex
resources/cmsData/productPageTemplate.impex
resources/cmsData/searchResultsPage.impex
resources/cmsData/searchResultsPageTemplate.impex
resources/cmsData/siteSetup.impex
resources/cmsData/standardPageTemplate.impex
resources/cmsData/wishlistPage.impex
resources/cronJobs/orderUpdateCronJob.impex
resources/cronJobs/orderUpdateCronJobTrigger.impex
resources/discounts/discountSetup.impex
resources/email/emailTemplates.impex
resources/essentialData/countries.impex
resources/frameitcore-items.xml
resources/frameitcore-spring.xml
resources/localization/frameitcore-locales_de.properties
resources/localization/frameitcore-locales_en.properties
resources/localization/frameitcore-locales_fr.properties
resources/localization/frameitcore-locales_ja.properties
resources/localization/frameitcore-locales_pt.properties
resources/localization/frameitcore-locales_zh.properties
resources/pictureFrameData/categories.impex
resources/pictureFrameData/images/frame1-200x200.png
resources/pictureFrameData/images/frame1-50x50.png
resources/pictureFrameData/images/frame2-200x200.png
resources/pictureFrameData/images/frame2-50x50.png
resources/pictureFrameData/images/frame3-200x200.png
resources/pictureFrameData/images/frame3-50x50.png
resources/pictureFrameData/pictureFrameImages.impex
resources/pictureFrameData/pictureFrames.impex
resources/pictureFrameData/priceRows.impex
resources/solr/solr.impex
resources/solr/solrTriggers.impex
resources/tax/taxSetup.impex
resources/test/pictureFrameData/categories.impex
resources/test/pictureFrameData/images/frame1-200x200.png
resources/test/pictureFrameData/images/frame1-50x50.png
resources/test/pictureFrameData/images/frame2-200x200.png
resources/test/pictureFrameData/images/frame2-50x50.png
resources/test/pictureFrameData/images/frame3-200x200.png
resources/test/pictureFrameData/images/frame3-50x50.png
resources/test/pictureFrameData/pictureFrameImages.impex
resources/test/pictureFrameData/pictureFrames.impex
resources/test/pictureFrameData/priceRows.impex
resources/test/userData/users.impex
resources/userData/users.impex
resources/vouchers/vouchers.impex
resources/web-services/stockquote.wsdl
resources/web-services/weather.wsdl
resources/workflow/reviewWorkflow.impex
src/com/cdyne/ws/weatherws/ArrayOfForecast.class
src/com/cdyne/ws/weatherws/ArrayOfForecast.java
src/com/cdyne/ws/weatherws/ArrayOfWeatherDescription.class
src/com/cdyne/ws/weatherws/ArrayOfWeatherDescription.java
src/com/cdyne/ws/weatherws/Forecast.class
src/com/cdyne/ws/weatherws/Forecast.java
src/com/cdyne/ws/weatherws/ForecastReturn.class
src/com/cdyne/ws/weatherws/ForecastReturn.java
src/com/cdyne/ws/weatherws/GetCityForecastByZIP.class
src/com/cdyne/ws/weatherws/GetCityForecastByZIPResponse.class
	modified:   src/com/cdyne/ws/weatherws/GetCityForecastByZIPResponse.java
src/com/cdyne/ws/weatherws/GetCityWeatherByZIP.class
src/com/cdyne/ws/weatherws/GetCityWeatherByZIP.java
src/com/cdyne/ws/weatherws/GetCityWeatherByZIPResponse.class
src/com/cdyne/ws/weatherws/GetWeatherInformation.class
src/com/cdyne/ws/weatherws/GetWeatherInformation.java
src/com/cdyne/ws/weatherws/GetWeatherInformationResponse.class
src/com/cdyne/ws/weatherws/GetWeatherInformationResponse.java
src/com/cdyne/ws/weatherws/ObjectFactory.class
src/com/cdyne/ws/weatherws/ObjectFactory.java
src/com/cdyne/ws/weatherws/POP.class
src/com/cdyne/ws/weatherws/POP.java
src/com/cdyne/ws/weatherws/Temp.class
src/com/cdyne/ws/weatherws/Temp.java
src/com/cdyne/ws/weatherws/Weather.class
src/com/cdyne/ws/weatherws/Weather.java
src/com/cdyne/ws/weatherws/WeatherDescription.class
src/com/cdyne/ws/weatherws/WeatherDescription.java
src/com/cdyne/ws/weatherws/WeatherHttpGet.class
src/com/cdyne/ws/weatherws/WeatherHttpGet.java
src/com/cdyne/ws/weatherws/WeatherHttpPost.class
src/com/cdyne/ws/weatherws/WeatherHttpPost.java
src/com/cdyne/ws/weatherws/WeatherReturn.class
src/com/cdyne/ws/weatherws/WeatherReturn.java
src/com/cdyne/ws/weatherws/WeatherSoap.class
src/com/cdyne/ws/weatherws/WeatherSoap.java
src/com/cdyne/ws/weatherws/package-info.class
src/com/cdyne/ws/weatherws/package-info.java
src/com/philos/frameit/FrameitcoreStandalone.java
src/com/philos/frameit/attributehandlers/DimensionsAttributeHandler.java
src/com/philos/frameit/attributehandlers/DisplayAreaAttributeHandler.java
src/com/philos/frameit/cms/components/CartSidePanelComponent.java
src/com/philos/frameit/cms/components/CartSummaryComponent.java
src/com/philos/frameit/constants/FrameitcoreConstants.java
src/com/philos/frameit/event/listeners/FlaggedAsInappropriateCustomerReviewEventListener.java
src/com/philos/frameit/event/listeners/NewCustomerReviewEventListener.java
src/com/philos/frameit/events/FlaggedAsInappropriateCustomerReviewEvent.java
src/com/philos/frameit/events/NewCustomerReviewEvent.java
src/com/philos/frameit/jalo/FrameitcoreManager.java
src/com/philos/frameit/jalo/PictureFrame.java
src/com/philos/frameit/jalo/ProcessIncomingOrderUpdatesCronJob.java
src/com/philos/frameit/jalo/template/EmailTemplate.java
src/com/philos/frameit/jobs/ProcessIncomingOrderUpdatesJobPerformable.java
src/com/philos/frameit/jobs/UnknownOrderStatusException.java
src/com/philos/frameit/order/jaxb/OrderUpdate.java
src/com/philos/frameit/services/EmailTemplateService.java
src/com/philos/frameit/services/MailService.java
src/com/philos/frameit/services/PictureFrameService.java
src/com/philos/frameit/services/SolrIndexerService.java
src/com/philos/frameit/services/SyncJobService.java
src/com/philos/frameit/services/VelocityService.java
src/com/philos/frameit/services/impl/DefaultSolrIndexerService.java
src/com/philos/frameit/services/impl/DefaultSyncJobService.java
src/com/philos/frameit/services/impl/EmailTemplateServiceImpl.java
src/com/philos/frameit/services/impl/MailServiceImpl.java
src/com/philos/frameit/services/impl/PictureFrameServiceImpl.java
src/com/philos/frameit/services/impl/VelocityServiceImpl.java
src/com/philos/frameit/systemsetup/AbstractSystemSetup.java
src/com/philos/frameit/systemsetup/FrameitCoreSystemSetup.java
src/com/philos/frameit/workflow/actions/ApproveReviewActionJob.java
src/com/philos/frameit/workflow/actions/RejectReviewActionJob.java
src/net/webservicex/GetQuote.class
src/net/webservicex/GetQuote.java
src/net/webservicex/GetQuoteResponse.class
src/net/webservicex/GetQuoteResponse.java
src/net/webservicex/ObjectFactory.class
src/net/webservicex/ObjectFactory.java
src/net/webservicex/StockQuote.class
src/net/webservicex/StockQuote.java
src/net/webservicex/StockQuoteHttpGet.class
src/net/webservicex/StockQuoteHttpGet.java
src/net/webservicex/StockQuoteHttpPost.class
src/net/webservicex/StockQuoteHttpPost.java
src/net/webservicex/StockQuoteSoap.class
src/net/webservicex/StockQuoteSoap.java
src/net/webservicex/package-info.class
src/net/webservicex/package-info.java
testsrc/com/philos/frameit/attributehandlers/PictureFrameDynamicAttributesTest.java
testsrc/com/philos/frameit/jalo/FrameitcoreTest.java
testsrc/com/philos/frameit/order/GenerateOrderUpdate.java
testsrc/com/philos/frameit/services/PictureFrameServiceTest.java
testsrc/com/philos/frameit/services/utility/GenerateCSVData.java

